
@{
    ViewData["Title"] = "Index";
}

<h1>Index from admin</h1>
@Html.ActionLink("Details", "Details", "Dashboard", "", new { @class="nav-link text-dark" })
@Html.ActionLink("Cateories", "Index", "Category", "", new { @class="nav-link text-dark" })
@Html.ActionLink("Albums", "Index", "Album", "", new { @class="nav-link text-dark" })



