@{
    ViewData["Title"] = "Page Not Found";
}

<h1 class="mb-5">Sorry this page has not been found</h1>

@Html.ActionLink("Go to Dashboard", "Index", "Dashboard", "", new { @class = "btn btn-primary mt-5" })
