/* General Page */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    background-image: linear-gradient(to bottom, white, black);
}

footer {
    text-align: center;
    background-color: #fff !important;
    color: black;
}

.mainWrapper {
    width: 80%;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0px 0px 20px white;
    font-size: large;
    color: white;
}

.header{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 5px;
    border-bottom: 1px groove gray;
    box-shadow: 0px 0px 10px black;
    border-radius: 0px 0px 15px 15px;
    color: black;
    text-shadow: 0px 0px 20px white;
}

nav{
    margin-bottom: 0 !important;
}

label {
    font-weight: bold;
}

.required:after {
    content: " *";
    color: red;
}



/* Tables */
.tables {
    background-color: white;
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}


/* Carousel */
.photo {
    height: 90vh;
}

.carousel-indicators{
    padding-bottom: 4%
}

.carousel-caption {
    background-color: black;
    opacity: 0.8;
    margin: 0px 0px 15% 0px;
    padding: 3%;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 20px blue;
}

.Active{
    border-radius: 15px;
    box-shadow: 0px 0px 5px black
}


/* Cards */
.card{
    box-shadow: 0px 0px 20px black;
}

.card-info{
    padding: 0% 5% 2% 5%;
}

.card-footer{
    text-align: center;
}

.card-header{
    text-align: center;
}


/* Album Layout */
.albumsLayout {
    width: 99%;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.albumList {
    background-color: lightgray;
    min-height: 90vh;
    box-shadow: 10px 10px 10px black;
}

.cardsContainer{
    margin: 1% 2% 2% 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.cardContent {
    margin: 1% 0% 2% 0%;
}

.albumHeader{
    text-align: center;
    padding: 2% 0% 0% 0%;
}
