@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All Roles";
}

<div class="mainWrapper">
    <div class="header">
        <h1>All Roles</h1>
    </div>

    @if (Model.Any())
    {
        <div>
            <table class ="table table-bordered tables">
                <tr class="thead-dark">
                    <th style="width: 80%;">Role Names</th>
                    <th style="width: 20%; text-align: center;">@Html.ActionLink("Add New Role", "AddRole", "Administrator", "", new { @class = "btn btn-success" })</th>
                </tr>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>
                            @role.Name
                        </td>
                        <td style="text-align: center;">
                            @Html.ActionLink("Edit", "EditRole", "Administrator", new { id = role.Id }, new { @class="btn btn-primary" })
                            @Html.ActionLink("Delete", "DeleteRole", "Administrator", new { id = role.Id }, new { @class="btn btn-danger" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <div class="table table-striped">
            <table>
                <tr class="thead-dark">
                    <th>Users</th>
                </tr>
                <tr>
                    <td>No Users Yet</td>
                </tr>
            </table>
        </div>
    }
</div>
