@model IEnumerable<Image>

<div class="container-fluid pl-5">
    <div class="header">
        <h1>Photos in @ViewBag.Album</h1>
    </div>
    <div class="row pt-3">
        @foreach (var image in Model)
        {
            <img src="@image.ImageUrl" asp-append-version="true" alt="@image.ShortDescription" height="250" width="200">            
        }
    </div>
</div>
